@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #050708;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem;
    color: #dbd2d2;
}

p {
    color: #ababab;
}

a {
    color: #00a2ff;
}

a:hover {
    color: #00a2ff;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0a0d0f;
}

::-webkit-scrollbar-thumb {
    background: #00a2ff;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(6, 101, 209);
}

.main-color {
    color: #00a2ff;
}

.sidenav {
    position: fixed;
    z-index: 1;
    top: -1rem;
    left: 0;
    background-color: rgba(17, 17, 17, 0);
    overflow-x: hidden;
    padding-top: 20px;
    display: inline-flex;
    z-index: 99;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
    margin: 5px;
    background-color: #1a1a22;
    border-radius: 4px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a:hover {
    color: #f1f1f1;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}


.sep5 {
    transform: translateY(-100%) translateY(2px) scale(1,1);
    transform-origin: top;
}

.sep6 {
    transform: translateY(0%) translateY(2px) scale(1,1)!important;
    transform-origin: top;
}
.svg-separator {
    display: block;
    background: 0 0;
    z-index: 9;
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
}

.bn-btn {
    background-color: #1a1a22;
    padding: 15px;
    color: #f7f7f7;
    border-radius: 4px;
    transition: all .5s ease-in;
}

.bn-btn:hover {
    background-color: #00a2ff;
    border-radius: 8px;
    color: #fff;
}

footer {
    background-color: #1a1a22;
    padding: 35px;
    color: #f7f7f7
}